<!DOCTYPE html>
  <html lang="en" id="html_page">
	<head>
		<meta charset="utf-8">
		{% block pagetitle %}
		<title>
			GTGOnline!
		</title>
		{% endblock pagetitle %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		
		{% block external_css_include %}
		<!-- Le styles -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/gnome.png" >
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/styler.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/datetimepicker.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="../assets/ico/favicon.png">-->
		{% endblock external_css_include %}
		
	</head>
  <body cz-shortcut-listen="true">
		{% block topbar %}{% endblock topbar %}
	<div class="content clearfix" id="wrapper">
	    {% block sidebar %}{% endblock sidebar %}
		{% block new_task_modal %}{% endblock new_task_modal %}
	    <div class="section main" id="main_div">
				{% block main %}{% endblock main %}
				{% block edit_task_modal %}{% endblock edit_task_modal %}
				{% block startup_modal %}
				<div id="startup_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header pull-center">
						<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>-->
						<span class="font-normal">You have<br></span>
						<span class="font-header" data-bind="text: startup_modal_header_string(todays_tasks().length)"></span><br>
						<span class="font-normal">due today<br></span>
					</div>
					<div class="modal-body">
					{% block startup_task_accordion %}
						<div class="accordion" id="accordion" data-bind="foreach: todays_tasks">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#" data-bind="attr: {'data-target': '#startup' + id}">
										<span data-bind="if: name_is_short(name)">
											<span data-bind="text: name"></span>
										</span>
										<span data-bind="ifnot: name_is_short(name)">
											<span data-bind="text: shortify_name(name)"></span>
										</span>
										<span class="pull-right" data-bind="text: 'started - ' + prettify(start_date)"></span>
									</a>
								</div>
								<div class="collapse" data-bind="attr: {'id': 'startup' + id}">
									<div class="accordion-inner">
										<span data-bind="ifnot: name_is_short(name)">
											<strong data-bind="text: name"></strong>
										</span>
										<div data-bind="foreach: tags">
											<span class="label" data-bind="text: name, style: { backgroundColor: color }"></span>
										</div>
										<div data-bind="text: description"></div>
									</div>
								</div>
							</div>
						</div>
					{% endblock startup_task_accordion %}
					</div>
					<div class="modal-footer">
						<!--<button class="btn btn-primary pull-left">Done</button>
						<button class="btn btn-primary pull-left">Dismiss</button>
						<button class="btn btn-primary pull-left">Delete</button>-->
						<button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Dismiss</button>
					</div>
				</div>
				{% endblock startup_modal %}
		</div>
	</div>
	
	{% block external_js %}
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="{{ STATIC_URL }}js/jquery.min.js"></script>-->
	<!--<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script src="{{ STATIC_URL }}js/data/jquery-cookie.js"></script>
	<script type="text/javascript">
	    /*$("input.show_dropdown").change(function(){
				alert("checked");
				$("#dropdown").fadeToggle();
				$("#header").slideToggle();
			//}
		})*/;
	</script>
	{% endblock external_js %}
  </body>
</html>
