<!DOCTYPE html>
  <html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{% block pagetitle %}GTGOnline!{% endblock pagetitle %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		
		{% block external_css_include %}
		<!-- Le styles -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/gnome.png" >
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/styler.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="../assets/ico/favicon.png">-->
		{% endblock external_css_include %}
		
	</head>
  <body cz-shortcut-listen="true">
		{% block topbar %}{% endblock topbar %}
	<div class="content clearfix">
	    {% block sidebar %}{% endblock sidebar %}
	    <div class="section main">
				{% block main %}{% endblock main %}
	    </div>
	</div>
	
	{% block startup_modal %}
	<div id="startup_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header pull-center">
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>-->
				<span class="font-normal">You have<br></span>
				<span class="font-header">12 tasks<br></span>
				<span class="font-normal">due today<br></span>
		</div>
		<div class="modal-body">
			{% block startup_task_accordion %}
			<div class="accordion" id="accordion" >
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#">
							Bring a copy of 'Skyfall'
						</a>
					</div>
					<div id="collapseOne" class=" collapse in">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#">
							Item #2
						</a>
					</div>
					<div id="collapseTwo" class=" collapse">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseThree" href="#">
							Item #3
						</a>
					</div>
					<div id="collapseThree" class=" collapse">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
			</div>
			{% endblock startup_task_accordion %}
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary pull-left">Done</button>
			<button class="btn btn-primary pull-left">Dismiss</button>
			<button class="btn btn-primary pull-left">Delete</button>
			<button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Dismiss</button>
		</div>
	</div>
	{% endblock startup_modal %}
	
	{% block external_js %}
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="{{ STATIC_URL }}js/jquery.min.js"></script>-->
	<!--<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript">
	    $("#showhide").click(function() { 
    // assumes element with id='button'
    $("#dropdown").fadeToggle();
    $("#dropdown2").fadeToggle();
    $("#header").slideToggle();
});
	    $("#showhide2").click(function() { 
    // assumes element with id='button'
    $("#dropdown2").fadeToggle();
    //$("#header").slideToggle();
});
	</script>
	<script type="text/javascript">
    $(window).load(function(){
        $('#startup_modal').modal('show');
    });
	</script>
	{% endblock external_js %}
  </body>
</html>
