<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			Login to GTGOnline!
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/gnome.png" >
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/styler.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="../assets/ico/favicon.png">-->
	</head>
    <body cz-shortcut-listen="true">
        <div class="" id="loginModal">
            <div class="modal-header">
                <h3>Have an Account?</h3>
            </div>
            <div class="modal-body">
                <div class="well">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                        <li><a href="#create" data-toggle="tab">Create Account</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active in" id="login">
                            <form class="form-horizontal" action="{% url 'user:authenticate' %}" method="POST">
								{% csrf_token %}
                                <fieldset>
                                    <div id="legend">
                                        <legend class="">Login</legend>
                                    </div>
									{% if error %}
										<div class="control-group">
	                                        <label class="validation-error controls">{{ error }}</label>
	                                    </div>
									{% endif %}
									{% if success %}
										<div class="control-group">
	                                        <label class="validation-success controls">{{ success }}</label>
	                                    </div>
									{% endif %}
                                    <div class="control-group">
                                        <!-- Email -->
                                        <label class="control-label"  for="email">Email</label>
                                        <div class="controls">
                                            <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Password-->
                                        <label class="control-label" for="password">Password</label>
                                        <div class="controls">
                                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Button -->
                                        <div class="controls">
                                            <button class="btn btn-success" id="log_in">Login</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="create">
                            <form name="RegistrationForm" class="form-horizontal" action="{% url 'user:register' %}" method="POST" id="tab" onsubmit="return ValidateRegistration()">
							<!--<form name="RegistrationForm" class="form-horizontal" id="tab" onsubmit="return ValidateRegistration()">-->
                                {% csrf_token %}
                                <fieldset>
                                    <div id="legend">
                                        <legend class="">Register</legend>
                                    </div>
                                    <div class="control-group" id="register-control-group">
                                        <!-- Email -->
                                        <label class="control-label"  for="email">Email</label>
                                        <div class="controls">
                                            <input type="text" id="email" name="email" placeholder="" class="input-xlarge" onblur="validate_email()" onfocus="hide_name_inputs()">
                                            <p class="muted" id="email-warning">This email will be used to notify you of urgent tasks, and to fetch your Gravatar profile</p>
                                        </div>
                                    </div>
									<div class="control-group" id="first_name_div" style="display: none;">
                                        <!-- First Name -->
                                        <label class="control-label" for="first_name">First Name</label>
                                        <div class="controls">
                                            <input type="text" id="first_name" name="first_name" placeholder="" class="input-xlarge">
                                            <p class="muted" id="first-name-warning"></p>
                                        </div>
                                    </div>
									<div class="control-group" id="last_name_div" style="display: none;">
                                        <!-- Last Name -->
                                        <label class="control-label" for="last_name">Last Name</label>
                                        <div class="controls">
                                            <input type="text" id="last_name" name="last_name" placeholder="" class="input-xlarge">
                                            <p class="muted" id="last-name-warning"></p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Password-->
                                        <label class="control-label" for="password">Password</label>
                                        <div class="controls">
                                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                                            <p class="muted" id="password-warning">Password should be at least 6 characters</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Password -->
                                        <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                                        <div class="controls">
                                            <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                                            <p class="muted" id="password-match-warning">Please confirm password</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Button -->
                                        <div class="controls">
                                            <button class="btn btn-success" type="submit" id="register_button">Register</button>
											<p class="muted" id="register-warning"></p>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Le javascript
    	================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="{{ STATIC_URL }}js/jquery.min.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src = "http://www.myersdaily.org/joseph/javascript/md5.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script src="{{ STATIC_URL }}js/data/jquery-jsonp.js"></script>
	<!--<script src="{{ STATIC_URL }}js/data/jquery.cross-domain.js"></script>-->
	<script type="text/javascript">
		var email_exists = false;
		var problem_flag = 0;
		var email_warning = document.getElementById('email-warning');
		var register_button = document.getElementById('register_button');
		var gravatar_profile;
		var data_received = 0;
		
		function ValidateRegistration() {
			var form = document.forms["RegistrationForm"];
			register_button.innerHTML = "Registering ...";
			register_button.setAttribute('class', 'btn btn-success disabled');
			
			validate_email();
			var profile = null;
			if (false == false && form["first_name"].value == '' && form["last_name"].value == '') {
				register_button.innerHTML = "Fetching Gravatar profile ...";
				register_button.setAttribute('class', 'btn btn-success disabled');
				profile = get_gravatar_profile(document.forms["RegistrationForm"]["email"].value);
				if (profile == null) {
					document.getElementById('first_name_div').style.display = 'block';
					document.getElementById('last_name_div').style.display = 'block';
					form["first_name"].value = "";
					form["last_name"].value = "";
				}
				else {
					document.getElementById('first_name_div').style.display = 'none';
					document.getElementById('last_name_div').style.display = 'none';
					form["first_name"].value = profile[0];
					form["last_name"].value = profile[1];
				}
				console.log('returned profile = ');
				console.log(profile);
			}
			
			var first_name = form["first_name"].value;
			var first_name_warning = document.getElementById('first-name-warning');
			//alert('first name = ' + first_name);
			if (first_name == '') {
				first_name_warning.innerHTML = 'Your Gravatar profile could not be fetched or did not contain first name<br>Please fill out this field';
				first_name_warning.setAttribute('class', 'validation-info');
				problem_flag = 1;
			}
			else {
				first_name_warning.innerHTML = '';
				//first_name_warning.setAttribute('class', 'validation-success');
			}
			
			var last_name = form["last_name"].value;
			var last_name_warning = document.getElementById('last-name-warning');
			//alert('last name = ' + last_name);
			if (last_name == '') {
				last_name_warning.innerHTML = 'Your Gravatar profile could not be fetched or did not contain family name<br>Please fill out this field';
				last_name_warning.setAttribute('class', 'validation-info');
				problem_flag = 1;
			}
			else {
				last_name_warning.innerHTML = '';
				//last_name_warning.setAttribute('class', 'validation-success');
			}
			
			var password = form["password"].value;
			var password_warning = document.getElementById('password-warning');
			//alert('password = ' + password);
			if (password.length < 6) {
				password_warning.innerHTML = 'Password should be minimum 6 characters';
				password_warning.setAttribute('class', 'validation-error');
				problem_flag = 1;
			}
			else {
				password_warning.innerHTML = 'Password is valid';
				password_warning.setAttribute('class', 'validation-success');
			}
			
			var password_confirm = form["password_confirm"].value;
			var password_match_warning = document.getElementById('password-match-warning');
			if (password != password_confirm) {
				password_match_warning.innerHTML = 'Passwords do not match';
				password_match_warning.setAttribute('class', 'validation-error');
				problem_flag = 1;
			}
			else {
				password_match_warning.innerHTML = 'Passwords match';
				password_match_warning.setAttribute('class', 'validation-success');
			}
			
			var register_warning = document.getElementById('register-warning');
			console.log('before check, problem flag = ' + problem_flag);
			if (problem_flag) {
				register_button.innerHTML = "Register";
				register_button.setAttribute('class', 'btn btn-success');
				register_warning.innerHTML = 'You have some errors';
				register_warning.setAttribute('class', 'validation-error');
				return false;
			}
			register_button.innerHTML = "Registering ...";
			register_button.setAttribute('class', 'btn btn-success disabled');
			register_warning.innerHTML = 'Good to go!';
			register_warning.setAttribute('class', 'validation-success');
			return true;
		};
		
		function check_email_syntax(email) {
			var atpos = email.indexOf("@");
			var dotpos = email.lastIndexOf(".");
			var space = email.indexOf(' ');
			if (atpos<1 || dotpos<atpos+2 || dotpos+1 >= email.length || space != -1) {
				email_warning.innerHTML = 'Not a valid Email';
				email_warning.setAttribute('class', 'validation-error');
				problem_flag = 1;
				return false;
			}
			else {
				email_warning.innerHTML = 'Email is valid';
				email_warning.setAttribute('class', 'validation-success');
				return true;
			}
		}
		
		function validate_email() {
			var email = document.forms["RegistrationForm"]["email"].value;
			console.log('email = ' + email);
			
			if (!check_email_syntax(email)) {
				return;
			}
			
			$.ajax({ url:"/user/check/", async:false,
				   data: { email: email },
				   success:function(data){
						if (data == '1') {
							console.log('email exists');
							email_warning.innerHTML = 'Email already registered';
							email_warning.setAttribute('class', 'validation-error');
							email_exists = true;
							problem_flag = 1;
						}
						else {
							console.log('email does not exist');
							email_warning.innerHTML = 'Email available';
							email_warning.setAttribute('class', 'validation-success');
							email_exists = false;
							problem_flag = 0;
						}
				   }
			});
		}
		
		function loadit(data){
			console.log(data);
			alert(data); //This will alert the popup as "opt sent".
		}
		
		function get_gravatar_profile(email) {
			var profile = null;
			$.ajax({ url:"/user/gravatar/", async:false,
				data: { email: email, hash: md5(email) },
				beforeSend: function() {
					register_button.innerHTML = "Fetching Gravatar profile ...";
					register_button.setAttribute('class', 'btn btn-success disabled');
				},
				success:function(data){
					 if (data == '0') {
						 console.log('profile does not exist');
						 problem_flag = 1;
					 }
					 else {
						 console.log("Here's the profile - ");
						 console.log(data);
						 if ("name" in data["entry"]["0"]) {
							console.log('name found');
							profile = [data["entry"]["0"]["name"]["givenName"], data["entry"]["0"]["name"]["familyName"]];
							problem_flag = 0;
						 }
						 else {
							console.log('name not found');
							problem_flag = 1;
						 }
						 //profile = data;
					 }
				},
			});
			return profile;
		};
		
		function hide_name_inputs() {
			//if (document.forms["RegistrationForm"]["first_name"] == '' && document.forms["RegistrationForm"]["last_name"] == '') {
				document.getElementById('first_name_div').style.display = "none";
				document.getElementById('last_name_div').style.display = "none";
			//}
		}
	</script>
    </body>
</html>
