{% extends 'topbar.html' %}

{% block topbar_switching_icon %}
    <div class="div-inline" id="topbar_group_div">
        <a href="{% url "tasks:main" %}" id="topbar_group_link" class="group_link" title="Go back to Tasks" onclick="window.location = '{% url "tasks:main" %}'"><i class="icon-tasks icon-2x" style="margin: 10px"></i></a>
    </div>
{% endblock topbar_switching_icon %}

{% block page_content %}
<div class="content clearfix" id="wrapper2">
{% block sidebar %}
    <div style="position: fixed; min-width: 100px;" id="sidebar2">
        <div class="section sidebar" style="position: relative">
			<!--<button class="modern" id="showhide" style="width: 85%" data-bind="click: $root.show_new_task_modal.bind($data, -1)">
				<span style="font: 400 16px/1 'Open Sans', Helvetica, sans-serif; color: #636363;">New Task List</span>
			</button>-->
            <div class="widget" id="new_group_widget">
				<div class="widget-header" style="margin-bottom: 0px">
					<h3 class="light">New Group</h3>
                </div>
                <div class="widget-content" style="padding: 15px; height: 110px;">
                    <form>
                        <input id="new_group_input" type="text" placeholder="Name" style="width: 100%; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 30px;" data-bind="value: new_group_name, valueUpdate: 'afterkeydown'" onblur="new_group_blur()"/>
                        <input type="text" name="color" class="minicolors dropdown" data-bind="minicolors: tag_color" style="width: 100%; margin-bottom: 10px; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 30px;" />
                        <button type="submit" class="btn btn-primary" style="width: 100%" data-bind="click: $root.new_group">Create</button>
                    </form>
                </div>
            </div>
            <div class="widget bg-color blue">
                <div class="widget-header">
                	<h3>Your Groups</h3>
                </div>
                <div class="widget-content" style="padding: 0px; max-height: 320px;">
					<ul class="nav nav-list" data-bind="foreach: group_list">
                        <li>
							<a href="#" style="text-decoration: none; cursor: default">
                                <span data-bind="text: $data.substring(0, USER_NAME_MAX_LENGTH)" style="font-size: 12px"></span>
                                <span class="pull-right" style="color: #962828; cursor: pointer;" data-bind="click: $root.delete_group.bind($data)"><i class="icon-trash icon-large"></i></span>
                                <span class="pull-right" style="color: #4D4D4D; cursor: pointer; margin-right: 5px;" onclick="alert('edit')"><i class="icon-edit icon-large"></i></span>
                            </a>
						</li>
                    </ul>
                </div>
            </div>
            <!--<div class="widget bg-color dark-grey">
            	<div class="widget-header" style="margin-bottom: 0px">
            		<h3>Delete Group</h3>
            	</div>
            	<div class="widget-content" style="padding: 0px">
            		<ul class="nav nav-list" data-bind="foreach: group_list">
                        <li>
							<a href="#" data-bind="text: $data"></a>
						</li>
                    </ul>
            	</div>
            </div>-->
        </div>
    </div>
{% endblock sidebar %}
    
<div class="section main" id="main_div2" style="width: 82%">
{% block main %}
<div style="height: 8px;">&nbsp;</div>
<div data-bind="foreach: user_list" id="group_container">
    <span class="group_header" data-bind="text: name + ' -'"></span>
    <span data-bind="visible: members.length == 0, text: '{{ origin }}' == 'group' ? '&nbsp;No members' : '&nbsp;No results'" class="no_members"></span>
    <br>
    <div data-bind="foreach: members" id="user_list_container" class="user_list_container">
        <div class="user_cell" data-bind="attr: { 'id': email }, style: { 'backgroundColor': hex2rgba($parent.color)}" style="position: relative">
            <!--<div style="height: 80px; width: 80px;" class="div-inline">-->
                <img data-bind="attr: { 'src': get_gravatar_image_url(email, 80) }" class="user_cell_image div-inline">
            <!--</div>-->
            <div style="height: 8px;">&nbsp;</div>
            <div class="user_cell_details div-inline">
                <span class="user_cell_name user_cell_span"><strong data-bind="text: shortify_full_name(full_name), style: { fontSize: get_size_for_name(full_name) }"></strong></span><br>
                <span class="user_cell_span" style="font-size: 10px;" data-bind="text: shortify_email(email)"><span></span></span><br>
            </div>
            
            <div class="btn-group div-inline pull-right user_options_div">
                <!-- ko if: $root.group_list().length > 0 -->
                <span class="user_cell_span" style="font-size: 14px; padding: 2px 5px 2px 2px; margin: 0px; cursor: default;"><i class="icon-double-angle-up" style="color: blue">&nbsp;</i>12</span>
                <span class="user_cell_span" style="font-size: 14px; padding: 2px 5px 2px 2px; margin: 0px; cursor: default;"><i class="icon-double-angle-down" style="color: green">&nbsp;</i>14</span>
                <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#" style="-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;">
                    <span data-bind="html: prettify_group_name($parent.name)"></span>
                    <!--<span class="caret"></span>-->
                </a>
                <ul class="dropdown-menu"">
                    <!-- ko foreach: $root.group_list -->
                        <li data-bind="visible: $data != $parents[1].name"><a href="#" data-bind="click: $root.add_user_to_group.bind($data, $parent.email, $parents[1].name)"><i class="icon-plus"></i><span data-bind="text: '&nbsp;' + $data"></span></a></li>
                    <!-- /ko -->
                    <li class="divider" data-bind="visible: $parent.name != 'Others'"></li>
                    <li data-bind="visible: $parent.name != 'Others'"><a href="#" data-bind="click: $root.remove_user_from_group.bind($data, $parent.name, email)"><i class="icon-minus"></i><span data-bind="text: '&nbsp;' + $parent.name"></span></a></li>
                </ul>
                <!-- /ko -->
                <!-- ko if: $root.group_list().length == 0 -->
                <a class="btn btn-small" data-toggle="dropdown" style="-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;" onclick="new_group_focus()">
                    <span data-bind="text: 'New Group'"></span>
                </a>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <hr>
</div>
<button class="btn btn-primary" data-bind="visible: '{{ origin }}' == 'search', text: 'Other Contacts', click: $root.show_more_users.bind($data, 0)" id="more_users" style="position: absolute; left: 50%; margin-left: -60px;"></button>
<div style="height: 100px">&nbsp;</div>
{% endblock main %}
</div>
</div>
{% endblock page_content %}

{% block external_js %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function() {
        a.show_users("{{ origin }}", "{{ query }}", '{{ users|safe }}');
    });
</script>
{% endblock external_js %}
