{% extends 'topbar.html' %}

{% block page_content %}
<br><br>
<div data-bind="foreach: user_list" id="user_list_container">
    <div class="user_cell" data-bind="attr: { 'id': email }" onclick="get_profile_template(this.id)">
        <img data-bind="attr: { 'src': get_gravatar_image_url(email, 80) }" class="user_cell_image">
        <div class="user_cell_details">
            <span class="user_cell_name"><strong data-bind="text: shortify_full_name(full_name), style: { fontSize: get_size_for_name(full_name) }"></strong></span><br>
            <span style="font-size: 10px;" data-bind="text: shortify_email(email)"></span><br>
            <span style="font-size: 14px" data-bind="text: full_name.length">Shared 4 tasks</span>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block external_js %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function() {
        a.show_users("{{ query }}", '{{ users|safe }}');
    });
</script>
{% endblock external_js %}
