{% extends 'topbar.html' %}

{% block sidebar %}
    <div style="position: fixed; min-width: 100px;" id="sidebar">
        <div class="section sidebar" style="position: relative">
			<button class="modern" id="showhide" style="width: 85%" data-bind="click: $root.show_new_task_modal">
				<span>New Task</span>
			</button>
            <div class="widget">
				<div class="widget-header" style="margin-bottom: 0px">
						<h3 class="light">Tasks</h3>
                </div>
                <div class="widget-content" style="padding: 0px" id="task_folders">
                    <!--<ul class="unstyled user-list clearfix">-->
                    <ul class="nav nav-list" data-bind="foreach: folders">
                        <li data-bind="css: { active: $data == $root.chosenFolderId() }, click: $root.goToFolder">
							<a href="#">
								<span data-bind="text: $data"></span>
								<span class="pull-right label"></span>
							</a>
						</li>
                    </ul>
                </div>
            </div>
            <div class="widget bg-color blue">
                <div class="widget-header">
                	<h3>Tags</h3>
                </div>
                <div class="widget-content" data-bind="foreach: tags_list" id="sidebar_tags_list" style="padding: 5px 15px; max-height: 200px; overflow: auto;">
					<a href="#" style="text-decoration: none;" data-bind="click: $root.get_tasks_by_tag.bind($data, id)">
						<span class="label" data-bind="text: name + '|' + count, style: { backgroundColor: color }, attr: { 'id': id }"></span>
					</a>
					<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#"><i class="icon-wrench"></i>&nbsp;Edit</a></li>
						<li><a href="#"><i class="icon-trash"></i>&nbsp;Delete</a></li>
					</ul>-->
                </div>
            </div>
            <div class="widget bg-color dark-grey">
            	<div class="widget-header" style="margin-bottom: 0px">
            		<h3>Due Dates</h3>
            	</div>
            	<div class="widget-content" style="padding: 0px">
            		<ul class="nav nav-list">
                        <li>
							<a href="#">
								<span>Due Today</span>
								<span class="pull-right label">3</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>Due Week</span>
								<span class="pull-right label">9</span>
							</a>
						</li>
						<!--<li>
							<a href="#" data-bind="text: ko.toJSON($root.modify_selected)">
							</a>
						</li>-->
                    </ul>
            	</div>
            </div>
        </div>
    </div>
{% endblock sidebar %}

{% block new_task_modal %}
<div id="new_task_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px; margin-left: -250px">
	<div class="modal-header" id="new_task_name_field" style="padding: 10px">
		<input type="text" id="task_name_input" placeholder="Task Name" style="margin: 0px;" class="input-task-name" data-bind="value: task_name_field, valueUpdate: 'afterkeydown'" />
		<div data-bind="foreach: all_tags" style="margin-top: 10px">
			<span class="label" style="margin-right: 1px;" data-bind="text: $data"></span>
		</div>
	</div>
	<div class="modal-body" style="padding: 10px;">
		<textarea rows="10" placeholder="Task Description" class="input-task-name" style="margin: 0px; margin-bottom: 10px;" data-bind="value: task_description_field, valueUpdate: 'afterkeydown'"></textarea>
		
		<div class="input-append date form_datetime pull-left">
			<input size="10" type="text" readonly class="task_start_datepicker input-medium" id="start_date_field" data-bind="value: task_start_date_field">
			<span class="add-on"><i class="icon-remove" data-bind="click: $root.reset_start_date_field"></i></span>
		</div>
		
		<div class="input-append date form_datetime pull-right">
			<input size="10" type="text" readonly class="task_due_datepicker input-medium" id="due_date_field" data-bind="value: task_due_date_field">
			<span class="add-on"><i class="icon-remove" data-bind="click: $root.reset_due_date_field"></i></span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Hide</button>
		<button class="btn btn-primary" data-bind="click: $root.new_task">Create</button>
	</div>
</div>
{% endblock new_task_modal %}

{% block external_js %}
{{ block.super }}

<script type="text/javascript" src="{{ STATIC_URL }}js/data/tags.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/data/sidebar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/data/sammy.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/datetimepicker/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">
	$(".task_start_datepicker").datetimepicker({
		format: 'dd/mm/yy',
		minView: 2,
		maxView: 3,
		todayHighlight: true,
		todayBtn: true,
		autoclose: true,
	});
	$(".task_due_datepicker").datetimepicker({
		format: 'dd/mm/yy',
		minView: 2,
		maxView: 3,
		todayHighlight: true,
		todayBtn: true,
		autoclose: true,
	});
	//alert($('#start_date_field').val());
</script>

<script type="text/javascript">
	$(document).ready(function(){
		//get_tags_by_user();
		ko.applyBindings(new TaskFoldersViewModel(), document.getElementById("html_page"));
		//get_todays_date();
		//ko.applyBindings(new TaskFoldersViewModel(), document.getElementById("task_rows_container"));
	});
</script>

{% endblock external_js %}
