{% extends 'content.html' %}

{% block task_row %}
	<div data-bind="foreach: tasks_list" id="task_rows_container" class="min-width900">
	<div class="task-row min-width950" id="task_row" style="display: block;" data-bind="style: { marginLeft: (30*indent) + 'px', borderLeft: indent > 0 ? '1px solid #dedede' : '0px'}, css: { taskDone: status == 1, taskDismissed: status == 2 }">
		<div class="div-inline pull-left min-width25" style="margin-left: 5px">
			<input type="checkbox" class="checkbox show_dropdown" data-bind="attr: { 'value': id }, checked: $root.modify_selected">
		</div>
		
		<div class="div-inline pull-left min-width30" style="margin-right: 2px; border-right: 1px solid #dedede; min-width: 30px;">
			<a data-toggle="collapse" data-target="#collapse11" href="#" style="text-decoration:none; color:#4d4d4d; font-size: 20px;" id="subtask_count" data-bind="visible: subtasks.length > 0">
                <span data-bind="text: subtasks.length > 0 ? '+' + subtasks.length : ''"></span>
				<!--<span data-bind="text: $index()"></span>-->
            </a>
			<span data-bind="visible: subtasks.length == 0, text: '&nbsp;'"></span>
		</div>
		
		<div class="dropdown div-inline pull-left min-width250" style="width: 26%;">
			<div data-bind="if: name_is_short(name)">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration:none; color:#4d4d4d; font-size: 15px;">
					<strong id="name" data-bind="text: name"></strong>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="#" data-bind="click: $root.show_new_subtask_modal.bind($data, id)"><i class="icon-plus"></i>&nbsp;Add subtask</a></li>
					<li data-bind="visible: status != 0"><a href="#" data-bind="click: $root.change_status.bind($data, id, 0, $index())"><i class="icon-play"></i>&nbsp;Active</a></li>
					<li data-bind="visible: status != 1"><a href="#" data-bind="click: $root.change_status.bind($data, id, 1, $index())"><i class="icon-ok"></i>&nbsp;Done</a></li>
					<li data-bind="visible: status != 2"><a href="#" data-bind="click: $root.change_status.bind($data, id, 2, $index())"><i class="icon-minus-sign"></i>&nbsp;Dismissed</a></li>
					<li><a href="#" data-bind="click: $root.delete_task.bind($data, id, $index())"><i class="icon-trash"></i>&nbsp;Delete</a></li>
				</ul>
			</div>
			<div data-bind="ifnot: name_is_short(name)">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration:none; color:#4D4D4D; font-size: 15px;">
					<strong class="task_name" id="name" data-bind="text: shortify_name(name), attr: { 'data-content': name }" rel="popover" data-trigger="hover"></strong>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="#" data-bind="click: $root.show_new_subtask_modal.bind($data, id)"><i class="icon-plus"></i>&nbsp;Add subtask</a></li>
					<li data-bind="visible: status != 0"><a href="#" data-bind="click: $root.change_status.bind($data, id, 0, $index())"><i class="icon-play"></i>&nbsp;Active</a></li>
					<li data-bind="visible: status != 1"><a href="#" data-bind="click: $root.change_status.bind($data, id, 1, $index())"><i class="icon-ok"></i>&nbsp;Done</a></li>
					<li data-bind="visible: status != 2"><a href="#" data-bind="click: $root.change_status.bind($data, id, 2, $index())"><i class="icon-minus-sign"></i>&nbsp;Dismissed</a></li>
					<li><a href="#" data-bind="click: $root.delete_task.bind($data, id, $index())"><i class="icon-trash"></i>&nbsp;Delete</a></li>
				</ul>
			</div>
		</div>
		
		<div style="width: 15%;" class="div-inline min-width200 task-tags" id="tags" data-bind="foreach: tags">
			<a href="#" style="text-decoration:none">
                <span class="label" data-bind="text: name, style: { backgroundColor: color }"></span>
            </a>
		</div>
		
		<div class="div-inline task-description max-width350" style="width: 32%;">
				<a href="#" style="text-decoration:none; color: #4D4D4D; font-size: 12px;" data-bind="click: $root.show_edit_task_modal.bind($data, id, name, description, start_date, due_date)">
					<span data-bind="if: description_is_short(description)">
						<span class="muted" data-bind="text: description"></span>
					</span>
					<span data-bind="ifnot: description_is_short(description)">
						<span class="muted task_description" data-bind="text: shortify_description(description), attr: { 'data-content': description }" rel="popover" data-trigger="hover"></span>
					</span>
				</a>
		</div>
		
		<div style="width: 15%;" class="div-inline min-width160 pull-right">
			<a href="#" style="text-decoration:none; color:#4D4D4D;">
				<!--<strong style="font-size: 30px;">13.09.12</strong>-->
				<strong id="due_date" data-bind="html: prettify(due_date), style: { fontSize: get_size_of_date(due_date) }"></strong>
			</a>
		</div>
		
		<div style="width: 10%" class="div-inline min-width80 pull-right">
			<a href="#" style="text-decoration:none; color:#4d4d4d;" data-bind="click: $root.show_datepicker" class="task_row_start_date">
				<!--<strong>06.09.12</strong>-->
				<strong id="start_date" data-bind="html: prettify(start_date)"></strong>
			</a>
		</div>
	</div>
	
	<!-- ko template: { name: 'task_rows_container', foreach: subtasks } -->
	<!-- /ko -->
	</div>
{% endblock task_row %}

{% block edit_task_modal %}
<div id="edit_task_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px; margin-left: -250px">
	<div class="modal-header" id="new_task_name_field" style="padding: 10px">
		<input type="text" id="task_name_input" placeholder="Task Name" style="margin: 0px;" class="input-task-name" data-bind="value: task_name_field, valueUpdate: 'afterkeydown'" />
		<div data-bind="foreach: all_tags" style="margin-top: 10px">
			<span class="label" style="margin-right: 1px;" data-bind="text: $data"></span>
		</div>
	</div>
	<div class="modal-body" style="padding: 10px;">
		<textarea rows="10" placeholder="Task Description" class="input-task-name" style="margin: 0px; margin-bottom: 10px;" data-bind="value: task_description_field, valueUpdate: 'afterkeydown'"></textarea>
		
		<div class="input-append date form_datetime pull-left">
			<input size="10" type="text" readonly class="task_start_datepicker input-medium" id="start_date_field" data-bind="value: task_start_date_field">
			<span class="add-on"><i class="icon-remove" data-bind="click: $root.reset_start_date_field"></i></span>
		</div>
		
		<div class="input-append date form_datetime pull-right">
			<input size="10" type="text" readonly class="task_due_datepicker input-medium" id="due_date_field" data-bind="value: task_due_date_field">
			<span class="add-on"><i class="icon-remove" data-bind="click: $root.reset_due_date_field"></i></span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" data-bind="click: $root.update_task">Update</button>
	</div>
</div>
{% endblock edit_task_modal %}

{% block external_js %}
{{ block.super }}

<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/data/tasks.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/data/knockout-mapping-plugin.js"></script>
<script type="text/javascript">
	$(window).load(function(){
        //show_tasks(task_tree);
    });
	
	$("#subtask_count2").click(function() { 
		$("#task_row4").fadeToggle();
		return false;
	});
	
	$(document).ready(function(){
		//var obj = get_tasks_ajax();
		//get_tags_by_user();
		//alert(obj);
		//ko.applyBindings(task_array());
	});
</script>

{% endblock external_js %}
