{% extends 'base.html' %}

{% block pagetitle %}
    3 Active Tasks
{% endblock pagetitle %}

{% block topbar %}
    <div class="navbar navbar-inverse navbar-fixed-top topbar-properties" id="topbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div id="branding" style="width: 250px; text-align: center" class="pull-left">
                <a href="#">
                    <!-- <i class="icon-tasks"></i>
                    <h1>BoardSkin</h1> -->
                    <!--<img src="img/logo.png">-->
                    <h1 style="color: white">GTGOnline!</h1>
                </a>
            </div>
            <form class="searchform pull-left">
                <div class="input-icon-append">
                	<input placeholder="Search" type="text">
                    <button type="submit" rel="tooltip-bottom" class="icon" data-original-title="search">
                    	<i class="icon-search"></i>
                    </button>
                </div>
            </form>
            <div class="pull-right user">
            	<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            		<img src="{{ STATIC_URL }}img/styler/user-thumb.jpg">
            		<p><span id="topbar_first_name"></span></p> 
            		<b class="caret"></b>
            		<ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1" href="#">View Profile</a></li>
                        <li><a tabindex="-1" href="#">Manage Account</a></li>
                        <li><a tabindex="-1" href="#">Feedback</a></li>
						<li class="divider"></li>
                        <li><a tabindex="-1" href="{% url 'user:logout' %}">Logout</a></li>
                    </ul>
            	</a>
            </div>
        </div>
    </div>
{% endblock topbar %}

{% block external_js %}
{{ block.super }}

<script type="text/javascript">
	$(document).ready(function(){
		var first_name = "{{ name }}";
		if (first_name == '') {
			first_name = 'User'
		}
		document.getElementById('topbar_first_name').innerHTML = first_name;
	});
</script>

{% endblock external_js %}
