{% extends 'base.html' %}

{% block pagetitle %}
    <title data-bind="text: titlebar_display"></title>
{% endblock pagetitle %}

{% block topbar %}
    <div class="navbar navbar-inverse navbar-fixed-top topbar-properties" id="topbar" style="max-height: 50px; height: 40px">
        <div class="navbar-inner" style="margin: 0px; padding: 0px; max-height: 50px;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="padding: 0px; margin: 0px">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div id="branding" style="width: 18%; text-align: center;" class="pull-left">
                <a href="#" onclick="window.location='{% url "tasks:main" %}'">
                    <!-- <i class="icon-tasks"></i>
                    <h1>BoardSkin</h1> -->
                    <!--<img src="img/logo.png">-->
                    <h1 style="color: white">GTGOnline!</h1>
                </a>
            </div>
            <form class="searchform pull-left" style="padding: 0px;">
                <div class="input-icon-append" style="margin: 0px; padding: 0px;">
					<!--<div class="btn-group div-inline search_option_buttons" data-toggle="buttons-radio" style="padding: 0px; margin: 0px">
						<button id="task_option_button" type="button" class="btn active" style="height: 34px; padding: 1px 10px; margin: 0px; border-radius: 3px 0px 0px 3px;" value="task" data-bind="click: $root.set_search_option.bind($data, 0)">Tasks</button>
						<button id="user_option_button" type="button" class="btn" style="height: 34px; padding: 1px 10px; margin: 0px; border-radius: 0px;" value="user" data-bind="click: $root.set_search_option.bind($data, 1)">Users</button>
					</div>-->
                	<input id="topbar_search_input" placeholder="Search in Tasks" type="text" data-bind="value: search_query, valueUpdate: 'afterkeydown'" style="padding: 2px; margin: 5px; width: 350px;">
					<!--<div class="btn-group div-inline">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						  Action
						  <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						  <li><a href="#">Tasks</a></li>
						  <li><a href="#">Users</a></li>
						  <li><a href="#">Tags</a></li>
						</ul>
					</div>-->
                    <button type="submit" rel="tooltip-bottom" class="icon" data-original-title="search" data-bind="click: $root.call_search" style="padding: 2px; margin: 5px 10px;">
                    	<i class="icon-search"></i>
                    </button>
                </div>
            </form>
			{% block topbar_switching_icon %}
			<div class="div-inline" id="topbar_group_div">
				<a href="{% url "user:search" %}" id="topbar_group_link" class="group_link" title="Show groups" onclick="window.location = '{% url "user:search" %}'"><i class="icon-group icon-2x" style="margin: 10px"></i></a>
			</div>
			{% endblock topbar_switching_icon %}
            <div class="pull-right user" style="padding: 0px; margin: 0px;">
            	<a role="button" class="dropdown-toggle" data-toggle="dropdown">
            		<img data-bind="attr: { 'src': get_gravatar_image_url('{{ email }}', 40) }">
            		<p><span id="topbar_first_name"></span></p> 
            		<!--<b class="caret"></b>-->
            		<ul class="dropdown-menu" role="menu" style="margin-top: 12px; margin-right: 2px; padding: 0px">
                        <li><a tabindex="-1" href="#">View Profile</a></li>
                        <li><a tabindex="-1" href="#">Manage Account</a></li>
                        <li><a tabindex="-1" href="#">Feedback</a></li>
						<li class="divider"></li>
                        <li style="margin-bottom: 5px"><a tabindex="-1" href='#' onclick="window.location = '{% url "user:logout" %}'">Logout</a></li>
                    </ul>
            	</a>
            </div>
        </div>
    </div>
{% endblock topbar %}

{% block external_js %}
{{ block.super }}

<script type="text/javascript">
	$(document).ready(function(){
		var first_name = "{{ name }}";
		if (first_name == '') {
			first_name = 'User'
		}
		document.getElementById('topbar_first_name').innerHTML = first_name;
	});
	
	function goToExternaLink(url) {
		window.location = url;
	}
</script>

{% endblock external_js %}
